@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>Enter user ID: </label>
                <input type="number" name="id"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>