@model IEnumerable<(int, string)>

@{
    ViewData["Title"] = "Complete Todoes";
}

<h2>User`s completed todoes</h2>
<h4>(3 required query)</h4>

<table class="table">
    <thead>
        <tr>
                <th>
                    <p>Id</p>
                </th>
                <th>
                    <p>Name</p>
                </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Todo" asp-action="Details" asp-route-id=@($"{item.Item1}")>@Html.DisplayFor(modelItem => item.Item1)</a>
            </td>
            <td>
                <a asp-controller="Todo" asp-action="Details" asp-route-id=@($"{item.Item1}")>@Html.DisplayFor(modelItem => item.Item2)</a>
            </td>
        </tr>
}
    </tbody>
</table>
